body {
            font-family: Arial, sans-serif;
            background-image: url('../img/SENA4.jpg');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 50%;
        }
        .title {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.5em;
            color: #333;
        }
        .form-table {
            width: 100%;
            border-collapse: collapse;
        }
        .form-table th, .form-table td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        .form-table th {
            background-color: #f2f2f2;
        }
        .options {
            display: flex;
            justify-content: space-around;
        }
        .form-table input[type="radio"] {
            margin-right: 10px;
        }
        .form-table input[type="number"], .form-table input[type="text"] {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
        }
        .submit-button {
            padding: 10px 20px;
            border: none;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            font-size: 1em;
        }
        .submit-button:hover {
            background-color: #45a049;
        }
 