body {
    font-family: Arial, sans-serif;
    background-image: url('../img/SENA4.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    margin: 0 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
form input, form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #393f39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.link-button {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 10%;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    margin-bottom: 30px;
}
.link-button:hover {
    background-color: #5f686b;
}
